.altSayfa{
width:990px;
margin-left:auto;
margin-right:auto;
margin-top:15px;
text-align:center;
font-family:Arial, Tahoma, Verdana;
color:#FFF;
font-size:12px;
font-weight:normal;
padding-bottom:20px;

}