<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>NostraGenius</title>
<link rel="stylesheet" type="text/css" href="_css/css-styles.css" />
<link rel="stylesheet" type="text/css" href="_css/style-menu.css" />
<link rel="stylesheet" href="_css/slider-styles.css" type="text/css" />
<link rel="stylesheet" href="_css/coin-slider-styles.css"
	type="text/css" />


<script type="text/javascript" src="_js/jquery.min.js"></script>
<script type="text/javascript" src="_js/menu-script.js"></script>

<script type="text/javascript" src="_js/jquery-1.4.2.js"></script>
<script type="text/javascript" src="_js/coin-slider.min.js"></script>


</head>

<body>
	<div class="ustHeader">
		<div class="ustSayfa">
			<div class="logo">
				<a href="index.html"><img src="_images/nostragenius-logo.png"
					width="132" height="91" /></a>
			</div>
			<div class="aramaAlan">
				<div class="aramaKutu">
					<span class="aramaBaslik">Tahmin Ara</span>
					<form action="#" method="post" enctype="multipart/form-data">
						<input type="text" name="Arama" class="siteArama" /> <input
							name="" type="image" src="_images/aramaButon.png"
							class="aramaButon" />
					</form>
					<span class="uyelikKutu"><a href="#">Üye Giriş |</a> <a
						href="#">Yeni Üyelik</a> </span>
				</div>
			</div>
			<div class="clearBoth"></div>
		</div>
	</div>
	<div class="menuAlan">
		<div class="menuKutu">
			<div id="menu2" class="menu">
				<ul>
					<li><a href="javascript:;">ANASAYFA</a></li>
					<li><a href="javascript:;">TAHMİN YAP</a></li>
					<li><a href="javascript:;">YORUM YAP</a></li>
					<li><a href="javascript:;">PUAN VER</a></li>
					<li><a href="javascript:;">İLETİŞİM</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="contentSablon">
		<div class="ortaKutu">
			<div class="masterPage">Diğer sayfalar</div>
		</div>
	</div>
	<div class="altFooter">
		<div class="altSayfa">© Copyright Nostragenius.com</div>
	</div>

</body>
</html>
